---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
// $base-font-family: Helvetica, Arial, sans-serif;
$base-font-family: "Calluna", Georgia, serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$spacing-unit-line: 7px;

$text-color:       #333;
$background-color: #fdfdfd;
$brand-color: #4D96B9;
$brand-color-secondary: #109269;
$brand-color-light: lighten($brand-color-secondary, 5%);
$brand-color-dark: darken($brand-color-secondary, 5%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          750px;
$on-laptop:        800px;

$statblock-main-color: #7A200D;
$statblock-secondary-color: #922610;
$statblock-background-color: #FDF1DC;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "statblock",
        "syntax-highlighting"
;

.searchHide {
    display: none;
}

@media print {
    .site-header {
        display: none;
    }

    .site-footer {
        display: none;
    }
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button1 {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 36px;
  line-height: 34px;
  font-size: 14px;
  color: #241c15;
  background-color: #efeeea;
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  padding: 0 18px;
}
.button1:hover {
    color: #241c15;
    background-color: #d9d7cd;
}

.button2 {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
    color: #f8dcc3;
    background-color: #7a0505;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px; 
  }
  .button2:hover {
    color: #241c15;
    background-color: #ad0202;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  