<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bestiary</title>
  <script src="https://cdn.jsdelivr.net/npm/jets.js@0.14.1/dist/jets.min.js"></script>
</head>
<body>
  <!-- Your existing HTML content -->
  <div class="home">
    <h1 class="page-heading">All Creatures</h1>
    <p id="creatureSearch">Search by name: <input type="search" id="jetsSearch"></p>
    <p id="sortBy">Sort By: <a href="{{ site.baseurl }}/cr">CR</a> | <a href="{{ site.baseurl }}/">Name</a></p>

    <dl class="tag-list">
      <dt class="spacing">Letter:</dt>
      {% for letter in letters %}
      <dd class="spacing">
        <a href="#{{ letter }}">{{ letter }}</a>
      </dd>
      {% endfor %}
    </dl>
    {% for letter in letters %}
    <a id="{{ letter }}"></a>
    <h2 class="post-list-head jetsHide">{{ letter }}</h2>
    <ul class="post-list jetsContent">
      {% for creature in all_creatures %}
      {% assign l = creature.name | slice: 0, 1 %}
      {% if l != letter %}{% continue %}{% endif %}
      <li>
        <a class="post-link" href="{{ creature.url | prepend: site.baseurl }}">{{ creature.name }}</a>
      </li>
      {% endfor %}
    </ul>
    <a class="post-meta jetsHide" href="#top">Back to top &#8593;</a>
    {% endfor %}
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var jets = new Jets({
        searchTag: '#jetsSearch',
        contentTag: '.jetsContent'
      });
    });
  </script>
</body>
</html>
